{% extends 'base.html' %}

{% block content %}
<h2>Profile</h2>

<div>
  <p><b>{{ request.user.username }}</b></p>
</div>
<div class="user-details">
  <div>
    <p>
      Email: {{ request.user.email }}
    </p>
    <p>
      Last active: {{ request.user.last_login }}
    </p>
    <p>
      Account created: {{ request.user.date_joined }}
    </p>
    <p>
      <a href="{% url 'users:changePassword' %}"><input type="button" value="Change Password" class="change-password"></a>
    </p>
  </div>
</div>


<div>
  <p><b>Story Submissions</b></p>
  <p>

  </p>
</div>
{% endblock %}
