{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<p><b>Edit / Delete Story</b></p>
<p>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
      <div class="form-control">
          {{ form.title.errors }}
          <label for="id_title">Title</label>
          {{ form.title }}
      </div>
      <div class="form-control">
          {{ form.pub_date.errors }}
          <label for="id_message">Publication date</label>
          {{ form.pub_date }}
      </div>
      <div class="form-control">
          {{ form.content.errors }}
          <label for="id_sender">Content</label>
          {{ form.content }}
      </div>
      <div class="form-control">
          {{ form.cc_myself.errors }}
          <label for="id_img_url">Image URL</label>
          {{ form.img_url }}
      </div>
      <div class="form-control">
        <input type="submit" value="Update Story" id="update-story">
      </div>
  </form>
</p>


{% endblock %}