{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.img_url }}">
        {{ story.content|linebreaks }}
    </div>
    {% if request.user.id == story.author_id %}
        <a href="{% url 'news:editStory' pk=story.id %}"><input type="button" value="Edit / Delete Story" id="edit-story"></a>
    {% else %}
    {% endif %}
</div>

{% endblock %}